body {
  background-color:#444444;
  color:#95969A;
  margin: 0;
  padding: 0;
}
img {
  width: 320px;
  height: 320px;
  margin-bottom: 30px;
}
/********************* TEXT *********************/
h1 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  text-align: center;
}

h3 {
  margin-top: 45px;
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  text-align: left;
}

h2 {
  margin-top: 45px;
  text-transform: uppercase;
  font-size: 35px;
  color: white;
  text-align: center;
}



/********************* CONTAINER *********************/
#GFPContainer {
  width: 50%; 
  overflow: hidden;
  background-color: #333333;
  
}

#lineChartContainer {
  width: 50%; 
  overflow: hidden;
  
}

#barChartDes {

  overflow: hidden;
  background-color: #333333;
  
}

#GFPDes {
  overflow: hidden;
  background-color: #333333;
  
}

#heatMapDes {
  
  height: 67.5vh;
  overflow: hidden;
  background-color: #333333;
  
}

#emotion {
  
  margin-top: 1rem;
  overflow: hidden;
  background-color: #333333;
  
}




/********************* DROPDOWNS *********************/
.dropdown {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}


